body {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders don't double up */
}

th, td {
    padding: 8px;

}
th {
    text-align: center;
    border:4px solid black;
}
td {
    text-align: center;
    border: 1px solid black; /* Black line to separate rows */
}
 .pageHeading {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .newBookButton {
     margin-bottom: 20px;
     background: black;
     border-radius: 999px;
     box-shadow: black 0 10px 20px -10px;
     box-sizing: border-box;
     color: #FFFFFF;
     cursor: pointer;
     font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
     font-size: 16px;
     font-weight: 700;
     line-height: 24px;
     opacity: 1;
     outline: 0 solid transparent;
     padding: 8px 18px;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     width: fit-content;
     word-break: break-word;
     border: 0;
 }

h2 {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

p {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
}

.newButtonCell {
    width: 203.91px;
    height: 98px;
}