table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders don't double up */
}

th, td {
    padding: 8px;

}
th {
    text-align: center;
    border:4px solid black;
}
td{
    text-align: left;
    border: 1px solid black; /* Black line to separate rows */
}